body {
    width: 300px;
    height: 265px;
    background-color: beige;
}
.hide {
    display: none;
}
.show {
    display: block;
}
.nowServer {
    margin: 0 auto 15px;
    width: 250px;
    box-shadow: 0px 0px 4px 5px black;
    background-color: black;
    color: whitesmoke;
    font-size: 20px;
}
.mainServ {
    float: left;
}
.otherServ {
    float: right;
}
.servBlock {
    padding: 3px;
}
.go_to_derv {
    height: 200px;
}
#unregisteredServGo {
    margin-left: 15px;
    margin-top: 6px;
}
.otherServBlock {
    background-color: whitesmoke;
    box-shadow: 0px 0px 5px 2px white;
    position: absolute;
    bottom: 25px;
    right: 5px;
}
.clearfix {
    content: " ";
    clear: both;
    display: table;
}
.author {
    color: darkgrey;
    text-align: center;
    position: absolute;
    bottom: 0;
}
.errorInput {
  border:2px solid red;
}